[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dataresqc"]
	path = dataresqc
	url = https://github.com/ybrugnara/dataresqc
	shallow = true
	registered = true
